.font-bold{
    font-weight: 700;
}
.font-semi-bold{
    font-weight: 600;
}
.font-mont{
   font-family: 'Montserrat', sans-serif;
}
.font-lora{
    font-family: 'Lora', sans-serif;
}
.mw-60{
    max-width: 60%;
    }
.mw-70{
max-width: 70%;
}
.mw-90{
    max-width: 90%;
}
.mb-7-2{
    margin-bottom: 72px;
}
.font-popp {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
  }

  .custom-btn{
    padding: 0.8rem 2rem !important;
    font-size: 1.125rem !important;
    border-radius: 0.8rem !important;
  }

